$primaryColor: #3350EE;
$secondaryColor: #2979FD;
$fourColor: #F64F3D;
$thirdColor: #3ABC0D;
$titleColor: #15205B;
$secondaryTitleColor: #3B3F59;
$contentTextColor: #6b6f87;
$lightTextColor: #84889c;
$bgColor: #f3f5f9;
$bgLightColor: #f8f9fc;
$borderColor: #dce0e9;
$errorColor: #F64F3D;
$borderLightColor: #E9EDF3;
$greenColor: #3ABC0D;