@import 'src/constants.scss';

.page-selector-modal-container {
  padding: 30px;
  display: flex;
  flex-direction: column;

  hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .pages-list{
    overflow: hidden;
    overflow-y: auto;
    max-height: 300px;
  }
}